.subscribe-button
{background-color:rgb(199, 13, 13) ;
color:azure;
border: none ;
padding-top:10px;
padding-bottom:10px;
padding-left: 16px;
padding-right:16px;
border-radius:2px;
cursor:pointer;
margin-right:8px;
transition: opacity 0.15s;
vertical-align:top;
 }
 .subscribe-button:hover 
 {opacity: 0.8;

 }
 .subscribe-button:active{
opacity: 0.5;
 }
 .join-button:hover{
    background-color:rgb(16, 65, 105) ;
    color:rgb(253, 242, 242) ;
 }
 .join-button:active{
    opacity:0.7;
 }
 .join-button
{background-color:rgb(253, 242, 242) ;
color:rgb(16, 65, 105);
border-color: rgb(16, 65, 105) ;
border-width:1px;
padding-top:9px;
padding-bottom:9px;
padding-left: 16px;
padding-right:16px;
border-radius:2px;
cursor:pointer;
transition: background-color 0.15s, 
color 0.15s;
vertical-align:top;
 }
 .tweet-button
{background-color:rgb(31, 149, 218) ;
color:rgb(245, 251, 255);
border-color: rgb(16, 65, 105) ;
border:none;
border-radius:18px;
cursor:pointer;
font-weight:bold;
font-size:15px;
margin-left:2px;
transition: box-shadow 0.15s;
vertical-align:top;
padding-top:10px;
padding-bottom:10px;
padding-left: 16px;
padding-right:16px;

 }
 .tweet-button:hover{
    box-shadow:7px 7px 10px rgba(0,0,0,0.2)
 }